<div class="container">
    <h3 style="margin-top: 20px;">
        <b>{{detail.movieName}}</b>
    </h3>
    <hr>
    {{#if message}}
    <div id="videoPlayer">
        <center>
            <h1>
                {{message}}
            </h1>
        </center>
    </div>
    {{else}}
    <div id="videoPlayer">
        <video src="http://localhost:3000/moviestream/{{detail.movieID}}" controls muted="muted" autoplay></video>
    </div>
    {{/if}}
</div>