<h3 style="margin-top: 20px;">
    <div>
        <a href="http://localhost:3000">
            <center>
                <b>
                    {{detail.movieName}}
                </b>
            </center>
        </a>
    </div>
</h3>
<hr>
<div class="container">
    {{#if message}}
    <div id="videoPlayer">
        <center>
            <h1>
                {{message}}
            </h1>
        </center>
    </div>
    {{else}}
    <div class="videoPlayer" id="videoPlayer" onmousemove="controlsVisiblityOn()">
        <video class="video" onclick="togglePlayPause()"
            src="http://localhost:3000/moviestream/{{detail.movieID}}"></video>
        <div class="controls" id="controls">
            <div class="bar">
                <input type="range" id="videoSeeker" class="bar" min="0" max="100" value="0.1" step="1">
            </div>
            <div class="buttons">
                <button class="pp" id="play-pause"></button>
                <button class="unmute" id="volumeMute"></button>
                <a class="-10s" id="-10s">
                    <i class="fa fa-fast-backward" aria-hidden="true"></i>
                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                <a class="+10s" id="+10s">
                    <i class="fa fa-fast-forward" aria-hidden="true"></i>
                </a>
                &nbsp;
                &nbsp;
                <input type="range" id="volumeSlider" min="0" max="100" value="20" step="1">&nbsp;
                &emsp;
                <a class="lightsOff" id="lightsOff">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p id="duration"></p>
                &emsp;
                <a href="#" id="fullScreen" onclick="toggleFullscreen()">
                    <i class="fa fa-expand" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<script src="/assets/scripts/movieStream.js"></script>