<div class="container">
    <h3 style="margin-top: 20px;">
        {{detail.movieName}}
    </h3>
    <hr>
    <div id="videoPlayer">
        <video src="/assets/videos/{{detail.movieID}}.mp4"></video>
    </div>
</div>